## Filter function

In [1]:
def even(num):
    if num%2==0:
        return True

In [2]:
even(24)

True

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

## Filter with a lambda function

In [5]:
numbers = [1,2,3,4,5,6,7,8,9,10]
greater_than_five = list(filter(lambda x:x>5,numbers))

In [6]:
greater_than_five

[6, 7, 8, 9, 10]

## Filter with a lambda function and multiple conditions

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_and_greater_than_five = list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8, 10]

## Filter to check if age is greater than 25 in dictionary

In [8]:
people=[
    {'name':"Darpan",'age':20},
    {'name':"Ram",'age':30},
    {'name':"Hari",'age':35}  
]
def age_greater_than_25(person):
    return person['age']>25

In [10]:
list(filter(age_greater_than_25,people))

[{'name': 'Ram', 'age': 30}, {'name': 'Hari', 'age': 35}]

## Positional Arguments

In [13]:
def print_numbers(*args):
    for number in args:
        print(number)

In [16]:
print_numbers([1,2,3,4,5,6,7,8,"Darpan"])

[1, 2, 3, 4, 5, 6, 7, 8, 'Darpan']

## Keyword Arguments

In [17]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [18]:
print_details(name="Darpan",age=20,gender="Male")

name:Darpan
age:20
gender:Male

## Combining both args and kwargs

In [19]:
def print_details(*args,**kwargs):
    for val in args:
        print(val)
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(1,2,3,4,"Darpan",age=20,country="Nepal",hobby="Playing Games")

1
2
3
4
Darpan
age:20
country:Nepal
hobby:Playing Games

## Lambda functions

In [ ]:
def addition(a,b):
    return a+b

In [22]:
addition = lambda x,y:x+y

In [24]:
print(addition(2,3))

5

In [25]:
even = lambda num: num%2==0

In [26]:
even(20)

True

## Map function

In [28]:
numbers = [1,2,3,4,5,6]
def square(number):
    return number**2
square(2)

4

In [30]:
list(map(square,numbers))

[1, 4, 9, 16, 25, 36]

In [31]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

## Map multiple iterables

In [32]:
numbers1 = [1,2,3]
numbers2 = [4,5,6]
added_numbers = list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

## Convert a list of strings to numbers

In [33]:
str_numbers = ['1','2','3','4']
int_numbers = list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4]

In [34]:
words = ["apple","banana","cherry"]
upper_word = list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
    return person['name']
people = [
    { 'name':"Darpan",'age':20},
    { 'name':"Hari",'age':25}
    ]

In [38]:
list(map(get_name,people))

['Darpan', 'Hari']