## Handling Imbalanced Dataset
1) Up Sampling
2) Down Sampling

In [7]:
import numpy as np
import pandas as pd
#Set the random seed for reproducibility
np.random.seed(123)
#Create a dataframe with two classes
n_samples=1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0

In [8]:
n_class_0,n_class_1

(900, 100)

In [9]:
#Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [14]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [15]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [19]:
#Upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [21]:
from sklearn.utils import resample
df_minority_upsampled = resample(
    df_minority,replace=True, #Sample with replacement
    n_samples=len(df_majority),
    random_state=42
)

In [23]:
df_minority_upsampled.shape

(900, 3)

In [24]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

In [28]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [31]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [32]:
#Down Sampling

In [33]:
import numpy as np
import pandas as pd
#Set the random seed for reproducibility
np.random.seed(123)
#Create a dataframe with two classes
n_samples=1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0
#Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [34]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [35]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [36]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [37]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [38]:
from sklearn.utils import resample
df_majority_downsampled = resample(
    df_majority,replace=False, 
    n_samples=len(df_minority),
    random_state=42
)

In [39]:
df_majority_downsampled.shape

(100, 3)

In [40]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [41]:
df_downsampled

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[200 rows x 3 columns]

In [43]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64